.container-general {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
    justify-content: center;
    /*border: 1px solid grey;*/
}


.line hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: grey; /* Цвет линии для остальных браузеров */
    background-color: blueviolet; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    /*margin-left: 20%;*/
    width: 100%;
    min-height: 50px;
    /*background-color: #F7F7F7;*/
}

.menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    height: auto;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    /*border: 1px solid grey;*/
}

.menu li {
    width: auto;
    height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    color: black;
    transition-delay: 0.7s;
    /*border: 1px solid grey;*/
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
    display: none; /* скрывает выпадающее меню */
    position: absolute;
    width: 100%;
    min-width: 180px;
    z-index: 1;
    transition-delay: 0.5s;
    transition: ease-in-out 0.4s;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    background-color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
    transition-delay: 0.5s;
    transition: ease-in-out 0.4s;
    border: 1px solid grey;
    border-radius: 4px;
    /*box-shadow: 0 0 10px blueviolet;*/
}

.dropdown-content a:hover {
    /*background-color: whitesmoke;*/
    transition-delay: 0.4s;
    transition: ease-in-out 0.4s;
    border-radius: 4px;
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content { /* при наведении на dropdown отображает контент класса dropdown-content */
    display: block; /* отображает выпадающее меню*/
    transition: ease-in-out 1s;
    transition-delay: 0.4s;
}

.dropdown-content p {
    color: grey;
    background-color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
    box-shadow: 0 0 10px 0 whitesmoke;
}

.min {
    min-width: 100px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: black;
    cursor: pointer;
    text-shadow: 0 0 4px grey;
    text-decoration: underline;
}

.menu-accent {
    border: 1px solid lightgrey;
    border-radius: 2px;
    min-width: 160px;
}

.menu-accent:hover, .menu-accent a:hover {

    border-radius: 6px;
    text-decoration: none !important;
}

.menu-accent:hover {
    box-shadow: 0 0 10px grey;
}

.contacts {
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 10px;
    /*border: 1px solid grey;*/
}

/*.logo {
    display: flex;
    flex-wrap: wrap;
    min-height: 90px;
}

.logo img {
    min-width: 100px;
    height: auto;
}*/

.contacts img {
    display: flex;
    width: 30px;
    height: 30px;
    /*border: 1px solid lightgrey;*/
}

.phone {
    height: 30px;
}

.phoneNumber p {
    height: 30px;
    display: flex;
    font-size: 14px;
    /*border: 1px solid red;*/

}

.businessCard {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.businessCard h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    color: black;
}

/*.businessCard p {
   !* text-align: center;*!
}*/

.businessCard hr {
    border: none; /* Убираем границу для браузера Firefox */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    color: grey;
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.line hr {
    border: none; /* Убираем границу для браузера Firefox */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    color: grey;
    width: 100%;
}

.container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.cont1Img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont1Img img {
    max-width: 100%;
    height: auto;
}

.cont1Txt {
    width: 45%;
    /*min-width: 400px;*/
}

.cont1Txt p {
    font-size: 18px;
    text-align: justify;
}

.cont1Txt h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    height: 40px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 2px;
    text-transform: uppercase;
}

.price {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.price:hover {
    box-shadow: 0 0 10px grey;
    color: white;
    background-color: black;
    border-radius: 4px;
}

/*.buttons a:hover {
    color: black;
}*/


.order {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.order:hover {
    /*background-color: whitesmoke;*/
    color: black;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 0 10px grey;
    background-color: white;
}

.priceList {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.priceList:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.containerHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
    /*border: 1px solid rosybrown;*/
}

.containerHeader h2 {
    text-transform: uppercase;
    margin-left: 20px;
}

.blockLeft {
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    align-items: center;
    /*border: 1px solid black;
    border-radius: 4px;*/
}

.blockLeft img {
    max-width: 100%;
    height: auto;

}

.blockMiddle {
    display: flex;
    justify-content: center;
    width: 23%;
    min-height: 300px;
    flex-wrap: wrap;
    /*border: 1px solid salmon;*/
    min-width: 300px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-top: 20px;
}

.blockRight {
    display: flex;
    justify-content: center;
    width: 23%;
    min-height: 300px;
    min-width: 300px;
    flex-wrap: wrap;
    /*border: 1px solid salmon;*/
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-top: 20px;
}

.container2 h4 {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: left;
}

.blockMiddle:hover, .blockRight:hover {
    box-shadow: 0 0 10px grey;
    /*background-color: whitesmoke;*/
}

.container2 ul {

}

.container2 li {
    text-align: left;
}

.blockChangeText {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /*margin-top: 30px;
    margin-bottom: 30px;*/
    margin: 0 auto;
}

.blockChangeText button {
    width: 200px;
    height: 40px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: 0.2s;
    transition-delay: 0.1s;
}

.blockChangeText button:hover {
    box-shadow: 0 0 6px grey;
}

.blockChangeText button:focus {
    border: 1px solid black;
    text-decoration: underline;
}

.nonStandard {
    border: 1px solid black; !important;
}

.blockChangeTextLeft {
    width: 60%;
    padding: 20px;
    text-align: justify;
}

.blockChangeTextLeft h2 {
    text-transform: uppercase;
    text-align: left;
}

.blockChangeTextLeft p {
    text-align: justify;
}

.blockChangeTextLeft img {
    display: flex;
    width: 40%;
    height: auto;
}

.blockChangeTextRight {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    padding-bottom: 20px;
}

.blockChangeTextRight img {
    max-width: 450px;
    height: auto;
}

.prefooter {
    /*min-height: 180px;*/
    width: 100%;
    border: 0 solid grey;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    box-sizing: border-box;
}

.pf-block {
    width: 23%;
    min-width: 220px;
    /*border: 1px solid black;*/
    padding: 10px;
    line-height: 14px;
}

.pf-block h6 {
    margin-bottom: 20px;
}

.pf-block a {
    color: black;
}

.pf-block a:hover {
    color: black;
    text-shadow: 0 2px 3px grey;
}

.prefooter h6, p {
    text-align: left;
}

.footer {
    /*height: 40px;*/
    background-color: whitesmoke;
}

.footer p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

/*.footer {
    background-image: url("");
}*/

.scrollup {
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../assets/icon_top.png') no-repeat;
}




/* ----------------------------------------------- @media --------------------------------------------- */






@media screen and (min-width: 1366px){                           /* @media screen and (min-width: 1366px) */

    .container2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 40px;
    }

    .blockMiddle {
        display: flex;
        justify-content: center;
        width: 23%;
        min-height: 300px;
        flex-wrap: wrap;
        min-width: 300px;
        text-align: center;
        border: 1px solid lightgrey;
        border-radius: 4px;
        margin-top: 20px;
    }

    .blockRight {
        display: flex;
        justify-content: center;
        width: 23%;
        min-height: 300px;
        min-width: 300px;
        flex-wrap: wrap;
        border: 1px solid lightgrey;
        border-radius: 4px;
        margin-top: 20px;
    }

}




@media screen and (min-width: 851px) and (max-width: 1365px) { /* @media (min-width: 851px) and (max: 1365px) */

    .container2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }

    .blockLeft {
        display: flex;
        width: 30%;
        box-sizing: border-box;
    }

    .blockLeft img {
        width: 100%;
        height: auto;

    }
    .blockMiddle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: auto;
        flex-wrap: wrap;
        text-align: center;
        border: 1px solid lightgrey;
        border-radius: 4px;
        margin-top: 20px;
    }

    .blockRight {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: auto;
        flex-wrap: wrap;
        border: 1px solid lightgrey;
        border-radius: 4px;
        margin-top: 20px;
    }

.containerHeader h2 {
        text-align: left;
    }

    .blockChangeTextLeft {
        box-sizing: border-box;
        margin: 10px;
        width: 90%;
    }

}


@media screen and (min-width: 851px) and (max-width: 1100px) {
    .container2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }

    .blockLeft {
        display: flex;
        width: 30%;
        box-sizing: border-box;
    }

    .blockLeft img {
        width: 100%;
        height: auto;

    }
    .blockMiddle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: auto;
        flex-wrap: wrap;
        text-align: center;
        border: 1px solid lightgrey;
        border-radius: 4px;
        margin-top: 20px;
    }

    .blockRight {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: auto;
        flex-wrap: wrap;
        border: 1px solid lightgrey;
        border-radius: 4px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 200px) and (max-width: 850px) {

    html {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .blockChangeTextLeft {
        width: 100%;
    }

    .container-general {
        width: 100%;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding-right: unset;
    }

    .phone {
        height: 100%;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .phone img {
        height: 100%;
    }

    .phoneNumber {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: auto;
    }

    .phoneNumber p {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .menu li {
        width: 90%;
        height: 60px;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px;
        color: black;
        transition-delay: 0.7s;
        transition: ease-in-out 0.4s;
        border: 1px solid grey;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .menu li:hover {
        box-shadow: 0 0 8px grey;
    }

    .menu li a:hover {
        text-decoration: none;
    }

    .containerHeader h2 {
        text-align: center;
    }

    .container1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        box-sizing: border-box;
    }

    .blockLeft {
        width: 90%;
        height: auto;
    }

    .blockLeft img {
        width: 100%;
        height: auto;
    }

    .cont1Img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .cont1Img img {
        width: 100%;
        height: auto;
    }

    .cont1Txt {
        width: 80%;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cont1Txt h2 {
        text-align: center;
    }

    .blockLeft {
        width: 90%;
    }

    .blockLeft img {
        width: 100%;
    }

    .container2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .blockChangeTextRight {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        box-sizing: border-box;
    }

    .blockChangeTextRight img {
        width: 100%;
        height: auto;
        max-width: none;
    }

    .blockMiddle {
        width: 60%;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        align-items: center;
    }

    .blockRight {
        width: 60%;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        align-items: center;
    }

    .blockChangeText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blockChangeText button {
        width: 80%;
    }

    .blockChangeTextLeft {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 10px;
        text-align: justify;
        box-sizing: border-box;
    }

    .blockChangeTextLeft h2 {
        text-align: center;
    }

    .footer p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

}



