.textCenter {
    text-align: center;
}

.wrapperRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}

.leftBlock {
    width: 22%;
    /*min-width: 300px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    /*border: 1px solid yellow;*/
}

.middleBlock {
    width: 22%;
    /*min-width: 300px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
    /*border: 1px solid red;*/
}

.rightBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.blockImgTxt {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    /*border: 1px solid purple;*/
    transition: ease-in-out 0.5s;
}

.blockImgTxt:hover {
    box-shadow: 0 0 10px grey;
    background-color: whitesmoke;
}

.blockImg {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blockImg img {
    width: 50%;
}

.blockTxt {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid brown;*/
}

.blockTxt h5 {
    text-transform: uppercase;
}

.blockTxt a {
    text-decoration: none;
    color: black;
}

.blockTxt a:hover {
    text-decoration: underline;
}

.rightBlock h3 {
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.rightBlock p {
    color: black;
    text-align: center;
}

form {
    width: 100%;
    /*border: 1px solid grey;*/
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

form input {
    line-height: 40px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
}

form input:hover {
    box-shadow: 0 0 10px grey;
}

.name, .email {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin: 20px 20px 10px 20px;
}

.question {
    width: 90%;
    height: 100px;
    margin: 10px 20px 10px 20px;
}

.rightBlock button {
    margin: 20px 20px 0 20px;
    width: 140px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    border-radius: 4px;
    transition: ease-in-out 0.4s;
}

.rightBlock button:hover {
    background-color: black;
    color: white;
}

video {
    /* default size is:
    width: 960px;
    height: 540px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 640px;
    height: 360px;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (min-width: 450px) and (max-width: 800px) {
    video {
        width: 400px;
        height: 225px;
        justify-content: center;
    }
}

.contactForm {
    width: 100%;
    height: auto;
    padding: 10px;
}


#fs-frm {
    transition: ease-in-out 1s;
}

.writeToAuthor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.writeToAuthor button {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 4px;
    width: 260px;
    height: 40px;
    border: 1px solid black;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
}

.writeToAuthor button:hover {
    box-shadow: 0 0 10px grey;

}

#btnHide {
    transition: ease-in-out 1s;
}







/* --------------------------------------- @media ------------------------------------------- */



@media screen and (min-width: 500px) and (max-width: 1200px) {
    .main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px;
    }

    .leftBlock {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
    }

    .middleBlock {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .rightBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    video {
        /* default size is:
        width: 960px;
        height: 540px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .blockImgTxt {
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        border-radius: 4px;
        border: 1px solid whitesmoke;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        transition: ease-in-out 0.5s;
    }

}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .leftBlock {
        width: 70%;
        flex-direction: column;
    }

    .middleBlock {
        width: 70%;
        flex-direction: column;
    }

    .rightBlock {
        justify-content: center;
        align-items: center;
        width: 70%;
        flex-direction: column;
        border-radius: 10px;
    }

    .video {
        /*width: 100%;*/
        border-radius: 10px;
    }
}


@media screen and (min-width: 200px) and (max-width: 500px) {

    .container-general {
        width: 100%;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .phone {
        height: 100%;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .phone img {
        height: 100%;
    }

    .phoneNumber {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: auto;
    }

    .phoneNumber p {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .menu li {
        width: 90%;
        height: 60px;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px;
        color: black;
        transition-delay: 0.7s;
        transition: ease-in-out 0.4s;
        border: 1px solid grey;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .menu li:hover {
        box-shadow: 0 0 8px grey;
    }

    .menu li a:hover {
        text-decoration: none;
    }

    .main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .leftBlock {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .middleBlock {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .rightBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .blockImgTxt {
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        border-radius: 4px;
        transition: ease-in-out 0.5s;
        border: 1px solid black;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    video {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 960px;
        max-height: 540px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .leftBlock {
        margin-bottom: 0;
    }
}


@media screen and (min-width: 200px) and (max-width: 380px) {
    .blockImgTxt {
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        transition: ease-in-out 0.5s;
        border: 1px solid black;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .blockImg {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .blockImg img {
        width: 50%;
    }

    .blockTxt h5, .blockTxt p {
        text-align: center;
    }

    .leftBlock {
        margin-bottom: 0;
    }

    .menu ul {
        padding-left: 0;
    }
}
