.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}

.businessCard {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.businessCard h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    color: black;
}

.businessCard p {
    text-align: center;
}

.businessCard hr {
    border: none; /* Убираем границу для браузера Firefox */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    color: grey;
    width: 30%;
    display: flex;
    margin: 0 auto;
}

.line hr {
    border: none; /* Убираем границу для браузера Firefox */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    color: grey;
    width: 100%;
}

.portfolio {
    width: 40%;
    /*min-width: 400px;*/
    border: 1px solid grey;
    border-radius: 4px;
    margin: 10px;
}

.portfolio:hover {
    box-shadow: 0 0 10px grey;
}

.portfolio h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}

.portfolio img {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    opacity: 30%;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.portfolio img:hover {
    opacity: 100%;
}

.portfolio a {
    text-decoration: none;
    color: black;
}

.portfolio a:hover {
    color: black;
    text-shadow: 0 0 10px grey;
    text-decoration: underline;
}

.portfolio p {
    font-size: 16px;
    text-transform: none;
    text-align: center;
    margin: 20px 0;
    font-weight: normal;
}



/* --------------------------------------- @media ------------------------------------------- */

@media screen and (min-width: 200px) and (max-width: 850px) {

    .container-general {
        width: 100%;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .phone {
        height: 100%;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .phone img {
        height: 100%;
    }

    .phoneNumber {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: auto;
    }

    .phoneNumber p {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 90%;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        width: 90%;
        height: 60px;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px;
        color: black;
        transition-delay: 0.7s;
        transition: ease-in-out 0.4s;
        border: 1px solid grey;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .menu li:hover {
        box-shadow: 0 0 8px grey;
    }

    .menu li a:hover {
        text-decoration: none;
    }

    .portfolio {
        width: 90%;
    }

    .portfolio p {
        font-size: 16px;
        text-transform: none;
        text-align: center;
        margin: 20px 0;
        font-weight: normal;
    }

}


@media screen and (min-width: 851px) and (max-width: 1050px) {




}