.container-general {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
}


.line hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: grey; /* Цвет линии для остальных браузеров */
    background-color: blueviolet; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

.min {
    min-width: 100px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
                        color: blueviolet;
                        cursor: pointer;
                        text-shadow: 0 0 4px grey;
                        text-decoration: underline;
                    }

.menu-accent {
    border: 1px solid lightgrey;
    border-radius: 2px;
    /*min-width: 160px;*/
}

.menu-accent:hover, .menu-accent a:hover {

    border-radius: 6px;
    text-decoration: none !important;
}

.menu-accent:hover {
    box-shadow: 0 0 10px blueviolet;
}

.contacts {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 10px;
}

.contacts img {
    display: flex;
    width: 30px;
    height: 30px;
}

.phone {
    height: 30px;
}

.phoneNumber p {
    height: 30px;
    display: flex;
    font-size: 14px;
}

.businessCard {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.businessCard h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    color: black;
}

.businessCard hr {
    border: none; /* Убираем границу для браузера Firefox */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    color: grey;
    width: 30%;
    display: flex;
    margin: 0 auto;
}

.line hr {
    border: none; /* Убираем границу для браузера Firefox */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    color: grey;
    width: 100%;
}

.descriptionBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
}

.descriptionBlock-img {
    display: flex;
    flex-wrap: wrap;
    width: 42%;
    justify-content: center;
}

.descriptionBlock-img img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: available;
}

.descriptionBlock-text {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.changeText {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel-item {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.carousel-item ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-inner {
    padding: 10px 70px 30px 70px;
    text-align: justify-all;
}

.d-block h3 {
    text-align: left;
}

.textLeft p {
    text-align: justify-all;
}

.textCenter {
    text-align: center;
}

.container1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.container1top, .container1bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container1top {
    margin-bottom: 20px;
    margin-top: 20px;
}

.container1top h3 {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.container1bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
}

.bottom1, .bottom2, .bottom3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 24%;
    justify-content: space-around;
    transition: ease-in-out 0.5s;
    padding: 10px;
    margin-bottom: 0;
}

.bottom1:hover, .bottom2:hover, .bottom3:hover {
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    border: 0 solid red;
    background-color: #F7F7F7;
}

.bottom1img, .bottom2img, .bottom3img {
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom1txt, .bottom2txt, .bottom3txt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.bottom1img img, .bottom2img img, .bottom3img img {
    width: 20%;
}

.bottom1txt, .bottom2txt, .bottom3txt {
    padding: 10px;
}

.bottom1txt h5, .bottom2txt h5, .bottom3txt h5 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    min-height: 40px;
}

.bottom1txt p, .bottom2txt p, .bottom3txt p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.container2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
    /*margin-bottom: 30px;*/
    align-items: center;
}

.container2 a {
    text-decoration: none;
    color: black;
}

.container2 a:hover {
    text-decoration: none;
    color: black;
}

.buttonBrief {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    justify-content: center;
    background-color: white;
    text-transform: uppercase;
}

.buttonBrief:hover {
    box-shadow: 0 0 10px grey;
    border-radius: 4px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.container3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: center;
    padding-bottom: 20px;
}

.cont3line1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*min-height: 200px;*/
}

/*.cont3line1 {
    min-height: 30px;
}*/

.cont3line1 h3 {
    width: 100%;
    flex-wrap: wrap;
    text-transform: uppercase;
    text-align: center;
}

.cont3line2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.block-1 {
    width: 30%;
    min-height: 60px;
    background-color: #F7F7F7;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;

}

.icon-text img {
    width: 30%;
    height: available;
}

.icon-text h6 {
    font-size: 20px;
}

.text {
    padding-top: 10px;
}

.text p {
    font-size: 16px;
    text-align: left;
}

.container4 h6, .container6 h6, .container7 h6 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.businessCard hr {
    margin-bottom: 20px;
}

.containerPrice {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    /*margin-top: 20px;*/
}

.priceGeneral {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.priceGeneral table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.priceGeneral td, .priceGeneral th {
    line-height: 40px;
}

.priceGeneral td {
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding: 0 10px;
}

.priceGeneral th {
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding-left: 10px;
}

.priceImg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.priceImg img {
    max-width: 100%;
    max-height: 400px;
}

.color {
    background-color: whitesmoke;
}

.tablePrice {
    display: flex;
    justify-content: left;
}

.justText {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.container5 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
}

.container6 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 30px;
    align-items: center;
}

.explainImg {
    width: 40%;
    margin-top: 20px;
}

.explainImg img {
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.explainTxt {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.container7 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 30px;
    align-items: center;
}

.txtBlock {
    margin-top: 20px;
}

.stageImg {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

.stageTxt {
    width: 45%;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding: 20px;
}

.stageTxt h6 {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}

.stageImg img {
    width: 100%;
    min-height: 40px;
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.upperCase {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    background-color: whitesmoke;
}

.pText {
    text-align: left;
}

.sliderBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.sliderImg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sliderImg img {
    width: 100%;
    border-radius: 4px;
}

.container8 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 40px;
}

.container8 h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container8 p {
    text-align: justify;
    font-size: 16px;
}

.cont8Left {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 20px;
}

.cont8Right {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 20px;
}

.block50percent {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: white;
    height: auto;
}

.block50percent a {
    color: black;
    line-height: 0;
    text-decoration: underline;
    font-size: 16px;
}

.block50percent img {
    max-width: 100%;
}

.block50percent ul {
    display: flex;
    justify-content: left;
}

.block50percent ul li {
    display: flex;
    justify-content: left;
}

.block50percent h3 {
    text-transform: uppercase;
}



.sliderImg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 45%;
    height: 100%;
    padding-right: 20px;
}

.sliderImg img {
    width: 100%;
    height: auto;
}



.sliderTxt {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    /*padding-left: 20px;
    padding-right: 20px;*/
    text-align: justify;
    /*border: 1px solid yellow;*/
}

.sliderTxt h6 {
    width: 100%;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    /* margin-bottom: 20px;*/
    margin-bottom: 20px;
    /*border: 1px solid red;*/
}

.sliderTxt p {
    width: 100%;
    /*border: 1px solid green;*/
    height: auto;
}


/* ---------------------------------------------- @media ------------------------------------------------ */

@media screen and (max-width: 1100px) {

    body {
        width: 100%;
    }

    .container1bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom1, .bottom2, .bottom3 {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        transition: ease-in-out 0.5s;
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .bottom1img img, .bottom2img img, .bottom3img img {
        width: 10%;
        min-width: 40px;
    }

    .bottom1txt, .bottom2txt, .bottom3txt {
        margin: 20px 10px 10px 10px;
        padding: 0;
    }

    .container2 {
        margin-top: 0;
    }

    .sliderImg {
        width: 90%;
    }

    .sliderImg img {
        width: 100%;
    }


}


    @media screen and (min-width: 200px) and (max-width: 850px) {

        html {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        body {
            width: 100%;
        }

        .blockChangeTextLeft {
            width: 100%;
        }

        .container-general {
            width: 100%;
        }

        .contacts {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 100%;
            box-sizing: border-box;
            padding-right: 0; !important;
        }

        .phone {
            height: 100%;
            width: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .phone img {
            height: 100%;
        }

        .phoneNumber {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: auto;
            width: auto;
        }

        .phoneNumber p {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .menu {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        nav {
            width: 90%;
        }

        .menu ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .menu li {
            width: 90%;
            height: 60px;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px;
            color: black;
            transition-delay: 0.7s;
            transition: ease-in-out 0.4s;
            border: 1px solid grey;
            box-sizing: border-box;
            margin-top: 10px;
        }

        .menu li:hover {
            box-shadow: 0 0 8px grey;
        }

        .menu li a:hover {
            text-decoration: none;
        }

        .descriptionBlock {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }

        .descriptionBlock-img {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            justify-content: center;
            align-items: center;
        }

        .descriptionBlock-img img {
            flex-wrap: wrap;
            justify-content: center;
            align-self: center;
            width: 100%;
            height: auto;
        }

        .cont3line2 {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .block-1 {
            width: 80%;
            box-sizing: border-box;
        }



        .container5 {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .priceGeneral {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
        }

        .priceGeneral table {
            justify-content: center;
        }

        .slider {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sliderImg {
            justify-content: center;
            width: 100%;
        }


        .sliderImg img {
            width: 100%;
            height: auto;
        }

        .sliderTxt {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: justify;
        }

        .sliderTxt p {
            text-align: justify;
        }

        .descriptionBlock-text {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            height: 100%;
        }

        .container7 {
            display: flex;
            flex-direction: column;
        }

        .stageImg {
            flex-wrap: wrap;
        }

        .pText {
            text-align: justify;
        }

        .prefooter {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .upperCase {
            text-align: center;
        }

        .container4 {
            display: flex;
            width: 100%;
        }

        .container7 {
            width: 100%;
        }

        .text p {
            text-align: justify;
        }

        .slider__item {
            width: 100%;
        }

        .sliderBlock {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            height: auto;
            box-sizing: border-box;
        }

        .sliderTxt h6 {
            font-size: 26px;
        }

        .sliderImg {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .sliderImg img {
            width: 100%;
        }

        .stageTxt {
            width: 90%;
        }

        .businessCard hr {
            margin-bottom: 0;
        }

        .bottom1, .bottom2, .bottom3 {
            border: 1px solid grey;
            border-radius: 6px;
        }
        .bottom1img, .bottom2img, .bottom3img {
            height: 60px;
        }

        .bottom1img img, .bottom2img img, .bottom3img img {
            width: 10%;
            min-width: 60px;
        }

        .priceImg {
            width: 90%;
        }

        .bottom1:hover, .bottom2:hover, .bottom3:hover {
            box-shadow: 0 0 10px grey;
            border-radius: 10px;
            border: 1px solid grey;
            background-color: #F7F7F7;
        }

        .container8 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            height: auto;
            background-color: whitesmoke;
            padding: 10px;
            box-sizing: border-box;
        }

        .cont8Left, .cont8Right, .block50percent {
            width: 100%;
        }

        .container8 h2 {
            text-align: center;
        }

        .block50percent a {
            color: black;
            line-height: normal;
            text-align: left;
            text-decoration: underline;
            font-size: 16px;
        }

    }


@media screen and (min-width: 200px) and (max-width: 500px) {
    .priceGeneral th {
        font-size: 14px;
        padding: 10px;
        text-align: left;
        line-height: normal;
    }

    .priceGeneral td {
        font-size: 12px;
        height: auto;
        line-height: normal;
        padding: 10px;
    }

    .tablePrice {
        width: 100%; /*90%*/
    }

    .nameTable {
        width: 100%; /*70%*/
    }

}

