.container-general {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
    /*border: 1px solid grey;*/
}


.line hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: grey; /* Цвет линии для остальных браузеров */
    background-color: blueviolet; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

.min {
    min-width: 100px;
}

.menu a {
    text-decoration: none;
    color: black;
}

/*.menu li:hover,*/ .menu a:hover {
                        color: blueviolet;
                        cursor: pointer;
                        text-shadow: 0 0 4px grey;
                        text-decoration: underline;
                    }

.menu-accent {
    border: 1px solid lightgrey;
    border-radius: 2px;
    min-width: 160px;
}

.menu-accent:hover, .menu-accent a:hover {

    border-radius: 6px;
    text-decoration: none !important;
}

.menu-accent:hover {
    box-shadow: 0 0 10px blueviolet;
}

.contacts {
    height: 30px;
    display: flex;
    flex-direction: row;
    /*border: 1px solid grey;*/
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 10px;
}

.contacts img {
    display: flex;
    width: 30px;
    height: 30px;
    /*border: 1px solid lightgrey;*/
}

.phone {
    height: 30px;
}

.phoneNumber p {
    height: 30px;
    display: flex;
    font-size: 14px;
    /*border: 1px solid red;*/

}

.businessCard {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.businessCard h2 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    color: black;
}

.businessCard hr {
    border: none; /* Убираем границу для браузера Firefox */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    color: grey;
    width: 30%;
    display: flex;
    margin: 0 auto;
}

.line hr {
    border: none; /* Убираем границу для браузера Firefox */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    color: grey;
    width: 100%;
}

.descriptionBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
    /*border: 1px solid red;*/
}

.descriptionBlock-img {
    display: flex;
    flex-wrap: wrap;
    width: 42%;
    /*min-width: 400px;*/

    justify-content: center;
    /*border: 1px solid red;*/
}

.descriptionBlock-img img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: available;
}

.descriptionBlock-text {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    min-height: 450px;
    /*min-width: 400px;*/
    /*width: 48%;*/
    /*border: 1px solid red;*/
}

.changeText {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel-item {
    min-height: 400px;
    max-width: 100%;

}

.carousel-item ul {
    /*min-width: 400px;*/
    display: flex;
    flex-direction: column;
}

.carousel-inner {
    padding: 10px 40px 30px 40px;
    text-align: justify-all;
}

.d-block h3 {
    text-align: left;
}

.textLeft p {
    text-align: justify-all;
}

.textCenter {
    text-align: center;
}

.container1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container1top, .container1bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container1top {
    margin-bottom: 20px;
    margin-top: 20px;
}

.container1top h3 {
    text-transform: uppercase;
    text-align: center;
}

.container1bottom {
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
}

.bottom1, .bottom2, .bottom3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 24%;
    justify-content: space-around;
    transition: ease-in-out 0.5s;
    padding: 10px;
    margin-bottom: 0;
    /*border: 1px solid grey;*/
}

.bottom1img, .bottom2img, .bottom3img {
    min-width: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom1txt, .bottom2txt, .bottom3txt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.bottom1img img, .bottom2img img, .bottom3img img {
    width: 30%;
}

.bottom1txt, .bottom2txt, .bottom3txt {
    padding: 10px;
}

.bottom1txt h5, .bottom2txt h5, .bottom3txt h5 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    min-height: 40px;
}

.bottom1txt p, .bottom2txt p, .bottom3txt p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.container2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: center;
}


.container2 a {
    text-decoration: none;
    color: black;
}

.container2 a:hover {
    text-decoration: none;
    color: black;
}

.buttonBrief {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    justify-content: center;
    background-color: white;
    text-transform: uppercase;
}

.buttonBrief:hover {
    box-shadow: 0 0 10px grey;
    border-radius: 4px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.container3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 30px;
    align-items: center;
    padding-bottom: 20px;
}

.cont3line1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
}

.cont3line1 {
    min-height: 30px;
}

.cont3line1 h3 {
    text-transform: uppercase;
    text-align: center;
}

.cont3line2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.block-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    width: 35%;
    /*min-width: 400px;*/
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    transition: ease-in-out 0.3s;
}

.block-1:hover {
    background-color: #F7F7F7;
}

.icon-img {
    width: 20%;
    /*min-width: 50px;*/
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.icon-img img {
    display: flex;
    justify-content: center;
    width: 100%;
    /*min-width: 50px;*/
    height: auto;
}

.icon-text {
    width: 70%;
    /*min-width: 150px;*/
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.icon-text h6 {
    font-size: 20px;
}

.text {
    padding-top: 10px;
}

.text p {
    font-size: 16px;
    text-align: left;
}

.container4 h6, .container6 h6, .container7 h6 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.businessCard hr {
    margin-bottom: 20px;
}

.containerPrice {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
    margin-top: 20px;
}

.priceGeneral {
    width: 50%;
    /*min-width: 400px;*/
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    /*border: 1px solid grey;*/
    /*padding: 10px;*/
}

.priceGeneral table {
    display: flex;
    width: 100%;
    max-width: 400px;
    /*min-width: 420px;*/
    /*border: 1px solid grey;*/
    /*padding: 10px;*/
}

.priceGeneral td, .priceGeneral th {
    line-height: 40px;
}

.priceGeneral td {
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.priceGeneral th {
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.priceImg {
    /*max-width: 100%;*/
    /*min-height: 400px;*/
    /*min-width: 400px;*/
    /*max-height: 400px;*/
    width: 40%;
    display: flex;
    justify-content: center;
    /*min-height: 300px;*/
    /*border: 1px solid grey;*/
    padding: 10px;
}

.priceImg img {
    max-width: 100%;
    max-height: 400px;
    /*min-width: 400px;*/
    /*margin-top: 20px;*/
}

.color {
    background-color: whitesmoke;
}

.tablePrice {
    display: flex;
    justify-content: center;
    /*min-width: 140px;*/
}

.nameTable {
    /*min-width: 300px;*/
}

.justText {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.container5 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
}

.container6 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 30px;
    align-items: center;
}

.explainImg {
    width: 40%;
    /*min-width: 360px;*/
    margin-top: 20px;
}

.explainImg img {
    width: 100%;
    /*min-width: 360px;*/
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.explainTxt {
    width: 50%;
    /*min-width: 360px;*/
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.container7 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 30px;
    align-items: center;
}

.txtBlock {
    margin-top: 20px;
}

.stageImg {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    /*min-width: 300px;*/
    /*margin-top: 20px;*/
    /*border-right: 1px solid black;*/
}

.stageTxt {
    width: 45%;
    min-height: 40px;
    /*min-width: 450px;*/
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    /*border-right: 1px solid black;*/
    padding: 20px;
}

.stageTxt h6 {
    width: 45%;
    min-height: 40px;
    /*min-width: 450px;*/
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /*border-right: 1px solid black;*/
    padding: 20px;
}

.stageImg img {
    width: 100%;
    min-height: 40px;
    /*min-width: 300px;*/
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.upperCase {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    background-color: whitesmoke;
}

.pText {
    text-align: left;
}

.sliderBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.sliderImg {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    /*min-width: 400px;*/
    /*margin-top: 20px;*/
    /*border-right: 1px solid black;*/
}

.sliderImg img {
    width: 100%;
    min-height: 40px;
    /*min-width: 300px;*/
    /*margin-top: 20px;*/
    border-radius: 4px;
    /*margin-bottom: 20px;*/
}

.container8 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 40px;
}

.container8 h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container8 p {
    text-align: justify;
    font-size: 16px;
}

.cont8Left {
    display: flex;
    flex-direction: column;
    width: 45%;
    /*min-width: 400px;*/
    padding: 20px;
}

.cont8Right {
    display: flex;
    flex-direction: column;
    width: 55%;
    /*min-width: 400px;*/
    padding: 20px;
}

.block50percent {
    display: flex;
    flex-direction: column;
    width: 50%;
    /*min-width: 400px;*/
    padding: 20px;
    background-color: white;
    height: auto;
}

.block50percent a {
    color: black;
    line-height: 0;
    text-decoration: underline;
    font-size: 16px;
}

.block50percent img {
    max-width: 100%;
}

.block50percent ul {
    display: flex;
    justify-content: left;
    /*min-width: 420px;*/
}

.block50percent ul li {
    display: flex;
    justify-content: left;
    /*min-width: 400px;*/
}





/* --------------------------------------- @media ------------------------------------------- */

@media screen and (min-width: 200px) and (max-width: 850px) {

    .container-general {
        width: 100%;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding-right: unset;
    }

    .phone {
        height: 100%;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .phone img {
        height: 100%;
    }

    .phoneNumber {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: auto;
    }

    .phoneNumber p {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 90%;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        width: 90%;
        height: 60px;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px;
        color: black;
        transition-delay: 0.7s;
        transition: ease-in-out 0.4s;
        border: 1px solid grey;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .menu li:hover {
        box-shadow: 0 0 8px grey;
    }

    .menu li a:hover {
        text-decoration: none;
    }

    .descriptionBlock {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .descriptionBlock-img {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }

    .descriptionBlock-img img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        width: 100%;
        height: available;
    }

    .descriptionBlock-text {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: 100%;
    }

    .businessCard {
        margin-top: 30px;
    }

    .container1bottom {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .bottom1txt, .bottom2txt, .bottom3txt {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    .bottom1, .bottom2, .bottom3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
        transition: ease-in-out 0.5s;
        padding: 10px;
        margin-bottom: 0;
    }

    .cont3line2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .block-1 {
        width: 80%;
        justify-content: space-between;
    }

    .icon-img img {
        min-width: 50px;
    }

    .buttonBrief {
        width: 80%;
    }

    .stageTxt {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .stageTxt h6 {
        width: 100%;
    }

    .bottom1img img, .bottom2img img, .bottom3img img {
        width: 30%;
    }


}